#search-bar{
    margin-block-end: 10px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 30px;
    background-color: #f8f8f8;
    margin: 10 auto;
    
  }
  .space-taker{
      height: 20px;
  }
  
  .Content{
    background: #17223b;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    min-width: 90vh;
    min-height: 70vh;
  }
  
  #body-listado {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #17223b;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    
  }
  .form-ingresar{
    display: flex;
  }
  #form-react {
    padding: 30px 20px;  
  }
  .form-title {    
    margin-bottom: 5px;
    padding-bottom: 7px;
    position:relative;
  }
  .form-title label {
    display:block;
    margin-bottom: 3px;
    font:weight 100px
  }
  .form-title input {
    height: 80%;
    width: 60%; 
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
  }
  .form-product select{ 
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;   
    position: relative;
    padding: 8px;
    margin-bottom:  10px;
  }

  .form-description {    
    width: 800px;
    height: 400px;
    position: relative;
  }
  
  .form-description label {
    display: inline-block;
    margin-bottom: 3px;
    font:weight 200px
  }
  .form-description textarea {
    height: 80%;
    width: 100%; 
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
      
  }
  
  .form-react button {
    background: #6610f2;
    border:1px solid #6610f2;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
  .form-react button:hover {
    background-color: #6610f2;
  }
  .fail {
    color: #6610f2;
  }
  


  .bugs-list-container{
    width:80vh;
  }

  .custom-modal .modal-dialog {
    max-width: 80%;
    width: 80%;
  }

  .comp-comp{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
  }