.prioridadCero{
    background-color: rgb(94, 148, 87);
    text-align: center;
    border-radius: 25px;
    border: 2px solid #585757;
    max-width: 100%;
    min-height: 100%;
    font-size: 75%;
}
.prioridadUno{
    background-color: rgb(77, 206, 3);
    text-align: center;
    border-radius: 25px;
    border: 2px solid #504d4d;
    max-width: 100%;
    min-height: 100%;
    font-size: 85%;
}
.prioridadDos{
    background-color: rgb(224, 221, 46);
    text-align: center;
    border-radius: 25px;
    border: 2px solid #4d4a4a;
    max-width: 100%;
    min-height: 100%;
    font-size: 85%;
}

.prioridadTres{
    background-color: rgb(248, 6, 6);
    text-align: center;
    border-radius: 25px;
    border: 2px solid #757171;
    max-width: 100%;
    min-height: 100%;
    font-size: 85%;
}
